
.picContainer {
  position: relative;
  height: 150px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  border: 5px solid gray;
}

#myChart {
  max-height: 450px;
  max-width: 900px;
  padding: 0 10%;
  width: auto;
  margin: auto;
}

#results {
  position: relative;
  height: 150px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}